version: '2'

services:
  php:
    volumes:
      - ./logs/php:/var/log/xxx/php

    environment:
      API_URL: 'http://xxx.dev'

      DB_DSN:      'mysql:host=xxx;dbname=xxx'
      DB_USER:     'xxx'
      DB_PASSWORD: 'xxx'
      DB_PASSWORD: 'xxx'

      TRANSLOADIT_KEY: 'xxx'
      TRANSLOADIT_SECRET: 'xxx'
      TRANSLOADIT_TEMPLATE: 'xxx'

      S3_KEY: 'xxx'
      S3_SECRET: 'xxx'
      S3_BUCKET: 'xxx'
      S3_REGION: 'xxx'